#author-title {
	font-size: 50px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 1px;
	margin: 0 auto; 
	margin-top: 30px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif;  
	text-shadow: 0px 0px 3px #DCDCDC;  
	letter-spacing: 0;  
	-webkit-text-stroke: .5px #666;
}
#author-title-line { 
    background: #659B40;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#1291B5), to(#FFFFFF));
}
#author-page-wrapper {
	width: 60%;
	min-height: 1500px;
	margin: 90px 20px 0 80px;
}
#author-page-wrapper a {
	transition: color .2s;
}
#author-page-wrapper a:hover {
	color: #1291B5;
}
.author-image {
	width: 180px;
	float: left;
}
.author-image img {
	width: 160px;
	height: 160px;
	float: left;
	margin: 0 0 20px 0;
	/* border: solid 4px #FFFFFF; */
	background: linear-gradient(to bottom, #1291B5, white);
	/*-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;*/
}
.author-category {
	font-size: 18px;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	margin: 15px 0 5px 0;
}
.author-website, .author-email, .author-twitter {
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
}
.author-profile-wrapper {
 	overflow: auto;
	padding: 30px;
	background: #EEEEEE;
 	box-shadow: 0px 0px 1px #555;
	margin-bottom: 30px;
}
.author-profile {
	width: 60%;
	float: left;
	margin: 15px 0 20px 50px;
}
.author-profile p {
	font-size: 16px;
	line-height: 22px;
	-webkit-font-smoothing: antialiased;
	margin: 15px 0 0 0;
}
.author-name {
	color: #1291B5;
	text-shadow: 0px 0px 1px #666;
	font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif; 
	font-size: 35px;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	margin: 0 0 5px 0;
}
.stories-by {
	font-size: 35px;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	margin: 0 0 30px 0;
}
.author-stories-list {
	font-size: 19px;
	-webkit-font-smoothing: antialiased;
	margin: 8px 0 8px 0;
	padding: 8px 0 8px 0;
	border-bottom: solid 1px #DCDCDC;
}
.author-stories-date {
	color: #666;
	font-size: 14px;
	font-style: italic;
	-webkit-font-smoothing: antialiased;
}
#author-voices-sidebar {
	width: 300px;
	position: absolute;
	top: 210px;
	right: 60px;
}