#mobile-nav {
	width: 100%;
	height: 40px;
	background: #343434;
	color: #FFFFFF;
	position: fixed;
	top: 0;
	z-index: 9999;
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 10px;
	display: none;
}
#mobile-nav-menu {
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	z-index: 9998;
	padding-top: 45px;
	background: #1291B5;
	display: none;
}
#mobile-nav-menu li {
	font-size: 20px;
	color: #FFFFFF;
	text-transform: uppercase;
	border-bottom: solid 1px #DCDCDC;
	padding: 15px 0 15px 20px;
}
#mobile-nav-menu li:nth-child(3) {
	display: none;
}
#mobile-logo {
	position: relative;
	float: left;
	margin: 0 0 0 5px;
	cursor: pointer;
}
#mobile-logo:hover {
	
}
#mobile-menu-icon {
	width: 27px;
	height: 27px;
	margin: 6px 0 0 -10px;
	position: relative;
	float: left;
}
#mobile-nav-items {display: none;}
.mobile-nav-item {
	color: #B0B0B0;
	position: relative;
	float: left;
	padding: 12px 10px 5px 10px;
	cursor: pointer;
	border-right: solid 1px #292929;
	border-left: solid 1px #494949;
	text-transform: uppercase;
}
.mobile-nav-item:hover {
	color: #FFFFFF;
}
.mobile-nav-item:first-child {
	color: #FFFFFF;
}
#mobile-search-icon {
	margin-top: -15px;
	margin-left: -75px;
	margin-bottom: 0;
}
#mobile-header-search {
	position: relative;
	float: left;
	margin: -3px 0 0 0;
}
#mobile-header-search input, #mobile-header-search select, #mobile-header-search textarea {
	color: #333;
	border: 0px;
}
#mobile-header-search input {
	width: 220px;
	height: 35px;
	font-size: 15px;
	margin-top: -17px;
	margin-bottom: 5px;
	border-radius: 20px;
}
#mobile-header-search input:focus {
	outline: #DCDCDC; 
}
#mobile-nav-menu #s::-webkit-input-placeholder {
    padding-left: 10px;
    color: #1291B5;
}
#mobile-nav-menu #s:-moz-placeholder {
    padding-left: 10px;
    color: #1291B5;
}
#mobile-nav-menu #s::-moz-placeholder {
    padding-left: 10px;
    color: #1291B5;
}
#mobile-nav-menu #s:-ms-input-placeholder {
	padding-left: 10px;
    color: #1291B5;
}
#mobile-social-media-icons {
	height: 18px;
}
#mobile-social-media-icons img{
	width: 35px;
	height: 35px;
	position: relative;
	float: left;
	margin: -10px 5px 0 0;
	cursor: pointer;
}
#mobile-social-media-icons img:nth-child(5) {
	width: 37px;
	height: 37px;
}
#mobile-categories {
	width: 100%;
	text-align: center;
	margin-top: 30px;
	margin-bottom: -5px;
	position: relative;
	z-index: 9997;
	display: none;
}
.mobile-category {
	width: 13%;
	display: inline-block;
	text-align: center;
    text-transform: uppercase;
    font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif;
    font-weight: 600;
	font-size: 25px;
	text-shadow: 0 0 1px #FFFFFF;
	margin: -10px 0 -50px 0;
	letter-spacing: 3px;
	color: #333;
	padding: 15px;
	opacity: 0.5;
	transition: opacity .3s;
	cursor: pointer;
	border-radius: 5px;
	background: #DCDCDC;
	-webkit-box-shadow:  inset 0 0 5px #666;	
		-moz-box-shadow: inset 0 0 5px #666;
   			box-shadow:  inset 0 0 5px #666;
}
.mobile-category:first-child {
	margin-right: 30px;
	opacity: 1.0;
}
#mobile-featured, #mobile-latest {
	margin: 30px 1.8% 30px 1.8%;
	position: relative;
	float: left;
	padding: 0 1.8% 0 1.8%;
	display: none;
}
#mobile-featured a, #mobile-latest a {
	transition: color .3s;
}
#mobile-featured a:hover, #mobile-latest a:hover {
	color: #1291B5;
}
#mobile-latest {
	margin-top: 60px;
}
#news-menu-icon {
	z-index: 999;
	display: none;
}
.news-menu-icon {
	width: 30px;
	height: 30px;
	margin-bottom: 2px;
}
#mobile-news-menu {
	width: 100%;
	background: #1291B5;
	position: absolute;
	top: 110px;
	padding: 3px 5px 3px 5px;
	z-index: 3;
	display: none;
}
#mobile-news-menu li {
	width: 31%;
	color: #FFFFFF;
	font-size: 18px;
	padding: 3px;
	border: solid 1px #DCDCDC;
	display: inline-block;
}
.mobile-news-posts:nth-child(even) {
	margin-right: 0;
}
.mobile-news-posts:nth-child(odd) {
	margin-right: 1.6%;
}
#mobile-voices {
	width: 80%;
	position: relative;
	float: left;
	margin: 70px 100px 30px 100px;
	display: none;
}
#mobile-voices img {
	width: 20%;
	height: auto;
	position: relative;
	float: left;
	border: solid 1px #EEEEEE;
	border-radius: 100%;
	margin: 0 10px 0 0;
}
#mobile-voices .voices-post {
	margin-top: 15px;
}
#mobile-voices .voices-text {
	width: 70%;
	margin: 5px 50px 15px 0;
	font-size: 25px;
	color: #333;
}
#mobile-voices .voices-text:hover {
	color: #10C4F7;
}
#mobile-voices .voices-byline {
	color: #666;
	font-size: 20px;
	padding: 2px 0 3px 0;
	margin: 20px 0 0 15px;
}
#mobile-voices .voices-byline:hover {
	color: #10C4F7;
}

@media only screen and (min-width: 1480px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 330px; height: 198px;}
	.news-news-post-title {font-size: 18px; top: 220px;}
	.news-news-post-blurb {font-size: 16px; line-height: 20px; margin: 30px;}
	/* === SINGLE PAGE === */
	.single-headline, .single-post-featured-image, .single-content, .featured-image-caption {width: 74%;}
}

@media only screen and (min-width: 1520px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 340px; height: 204px;}
	.news-news-post-title {font-size: 19px; top: 220px;}
	.news-news-post-blurb {font-size: 16px; line-height: 20px;}
}

@media only screen and (min-width: 1550px) {
	/* === HOME PAGE === */
	.featured-image-text {height: 69px;}
	.news-post {height: 450px;}
	/* === NEWS PAGE === */
	#news-category-nav li {font-size: 20px;}
	.news-news-post {width: 350px; height: 210px;}
	.news-news-post-title {font-size: 19px; top: 225px;}
	.news-news-post-blurb {font-size: 16px; line-height: 20px;}
}

@media only screen and (min-width: 1590px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 360px; height: 216px;}
	.news-news-post-title {font-size: 19px; top: 235px;}
	.news-news-post-blurb {font-size: 16px; line-height: 20px;}
}

@media only screen and (min-width: 1640px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 370px; height: 222px;}
	.news-news-post-title {font-size: 19px; top: 240px;}
	.news-news-post-blurb {font-size: 17px; line-height: 22px; margin: 40px;}
}

@media only screen and (min-width: 1680px) {
	/* === NEWS PAGE === */
	#news-post-wrapper {width: 75%;}
	.news-news-post {width: 280px; height: 168px;}
	.news-news-post-title {font-size: 15px; top: 190px;}
	.news-news-post-blurb {font-size: 14px; line-height: 16px; margin: 25px;}
}

@media only screen and (min-width: 1700px) {
	/* === HOME PAGE === */
	.featured-image-text {height: 65px;}
	/* .voices-text {font-size: 18px;} */
	/* === NEWS PAGE === */
	.news-news-post {width: 290px; height: 174px;}
	.news-news-post-title {font-size: 16px; top: 195px;}
	.news-news-post-blurb {font-size: 14px; line-height: 16px;}
}

@media only screen and (min-width: 1740px) {	
	/* === NEWS PAGE === */
	.news-news-post {width: 300px; height: 180px;}
	.news-news-post-title {font-size: 17px; top: 200px;}
	.news-news-post-blurb {font-size: 15px; line-height: 17px;}
}

@media only screen and (min-width: 1790px) {	
	/* === NEWS PAGE === */
	.news-news-post {width: 310px; height: 186px;}
	.news-news-post-title {font-size: 17px; top: 205px;}
	.news-news-post-blurb {font-size: 15px; line-height: 17px;}
}

@media only screen and (min-width: 1830px) {	
	/* === NEWS PAGE === */
	.news-news-post {width: 320px; height: 192px;}
	.news-news-post-title {font-size: 18px; top: 210px;}
	.news-news-post-blurb {font-size: 15px; line-height: 17px;}
}

@media only screen and (min-width: 1880px) {	
	/* === HOME PAGE === */
	.news-post {height: 450px;}
	/* === NEWS PAGE === */
	.news-news-post {width: 330px; height: 198px;}
	.news-news-post-title {font-size: 18px; top: 215px;}
	.news-news-post-blurb {font-size: 16px; line-height: 20px;}
}

@media only screen and (min-width: 1930px) {	
	/* === NEWS PAGE === */
	.news-news-post {width: 340px; height: 204px;}
	.news-news-post-title {font-size: 19px; top: 220px;}
	.news-news-post-blurb {font-size: 16px; line-height: 20px;}
}

@media only screen and (min-width: 1950px) {
	/* === HOME PAGE === */
	.featured-image-text {height: 60px;}
}

@media only screen and (min-width: 1980px) {	
	/* === NEWS PAGE === */
	.news-news-post {width: 350px; height: 210px;}
	.news-news-post-title {font-size: 19px; top: 230px;}
	.news-news-post-blurb {font-size: 16px; line-height: 20px;}
}

@media only screen and (min-width: 2020px) {	
	/* === NEWS PAGE === */
	#news-post-wrapper {width: 80%;}
	.news-news-post {width: 360px; height: 216px;}
	.news-news-post-title {font-size: 19px; top: 235px;}
	.news-news-post-blurb {font-size: 16px; line-height: 20px;}
}

@media only screen and (min-width: 2060px) {	
	/* === NEWS PAGE === */
	.news-news-post {width: 300px; height: 180px;}
	.news-news-post-title {font-size: 17px; top: 200px;}
	.news-news-post-blurb {font-size: 15px; line-height: 18px;}
}

@media only screen and (min-width: 2100px) {
	/* === HOME PAGE === */
	.voices-text {font-size: 20px; line-height: 21px;}
	.voices-byline {font-size: 16px;}
}

@media only screen and (min-width: 2130px) {	
	/* === NEWS PAGE === */
	.news-news-post {width: 310px; height: 186px;}
	.news-news-post-title {font-size: 17px; top: 205px;}
	.news-news-post-blurb {font-size: 15px; line-height: 18px;}
}

@media only screen and (min-width: 2180px) {	
	/* === NEWS PAGE === */
	#news-category-nav li {font-size: 22px;}
	.news-news-post {width: 320px; height: 192px;}
	.news-news-post-title {font-size: 18px; top: 210px;}
	.news-news-post-blurb {font-size: 15px; line-height: 18px;}
}

@media only screen and (min-width: 2200px) {
	/* === HOME PAGE === */
	.featured-image-text {height: 57px;}
	.news-post {height: 500px;}
}

@media only screen and (min-width: 2230px) {	
	/* === NEWS PAGE === */
	.news-news-post {width: 330px; height: 198px;}
	.news-news-post-title {font-size: 19px; top: 215px;}
	.news-news-post-blurb {font-size: 16px; line-height: 20px;}
}

@media only screen and (min-width: 2300px) {	
	/* === NEWS PAGE === */
	.news-news-post {width: 340px; height: 204px;}
	.news-news-post-title {font-size: 19px; top: 220px;}
	.news-news-post-blurb {font-size: 16px; line-height: 20px;}
}

@media only screen and (min-width: 2360px) {	
	/* === NEWS PAGE === */
	.news-news-post {width: 350px; height: 210px;}
	.news-news-post-title {font-size: 19px; top: 225px;}
	.news-news-post-blurb {font-size: 16px; line-height: 20px;}
}

@media only screen and (min-width: 2400px) {
	/* === HOME PAGE === */
	.featured-image-text {height: 55px;}
}

@media only screen and (min-width: 2420px) {	
	/* === NEWS PAGE === */
	.news-news-post {width: 360px; height: 216px;}
	.news-news-post-title {font-size: 20px; top: 230px;}
	.news-news-post-blurb {font-size: 17px; line-height: 22px;}
}

@media only screen and (min-width: 2470px) {	
	/* === NEWS PAGE === */
	.news-news-post {width: 370px; height: 222px;}
	.news-news-post-title {font-size: 20px; top: 240px;}
	.news-news-post-blurb {font-size: 17px; line-height: 22px;}
}

@media only screen and (min-width: 2530px) {	
	/* === NEWS PAGE === */
	.news-news-post {width: 380px; height: 228px;}
	.news-news-post-title {font-size: 21px; top: 240px;}
	.news-news-post-blurb {font-size: 17px; line-height: 22px;}
}

@media only screen and (max-width: 1480px) {
	/* === NEWS PAGE === */
	.news-news-post-title {font-size: 18px; top: 210px;}
	.news-news-post-blurb {font-size: 16px; line-height: 21px; margin-top: 25px;}
	/* === SINGLE PAGE === */
	.single-headline, .single-post-featured-image, .single-content {width: 73%;}
}

@media only screen and (max-width: 1430px) {
	/* === NEWS PAGE === */	
	.news-news-post {width: 310px; height: 184px;}
	.news-news-post-title {font-size: 17px; top: 200px;}
	.news-news-post-blurb {font-size: 15px; line-height: 19px;}
	/* === SINGLE PAGE === */
	.single-headline, .single-post-featured-image, .single-content {width: 72%;}
}

@media only screen and (max-width: 1420px) {
	/* === STORYTELLING PAGE === */
	#storytelling-databases {width: 70%;}
}

@media only screen and (max-width: 1410px) {
	/* === NEWS PAGE === */		
	.news-news-post {width: 300px; height: 180px;}
}

@media only screen and (max-width: 1360px) {
	/* === HOME PAGE === */
	
	.home-page-voices-ad {width: 280px !important; height: 233px !important;}
	.featured-image-text {height: 73px;}
	/* === NEWS PAGE === */
	.news-news-post {width: 290px; height: 174px;}
	.news-news-post-title {font-size: 16px; top: 200px;}
	.news-news-post-blurb {font-size: 14px;}
	/* === STORYTELLING PAGE === */
	#storytelling-databases {width: 65%;}
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 70%;}
	.single-headline, .single-post-featured-image, .single-content, .featured-image-caption {width: 69%;}
}

@media only screen and (max-width: 1330px) {
	/* === NEWS PAGE === */	
	.news-news-post {width: 280px; height: 168px;}
	.news-news-post-title {font-size: 16px; top: 190px;}
	.news-news-post-blurb {font-size: 14px; line-height: 18px;}
	/* === VOICES PAGE === */
	#voices-recent-blogposts {width: 69%;}
}

@media only screen and (max-width: 1300px) {
	/* === NEWS PAGE === */	
	.news-news-post {width: 270px; height: 162px;}
	.news-news-post-title {font-size: 15px; top: 185px;}
	.news-news-post-blurb {margin-top: 20px;}	
	/* === SINGLE PAGE === */
	.single-headline, .single-post-featured-image, .single-content, .featured-image-caption {width: 67%;}
}

@media only screen and (max-width: 1270px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 400px; height: 240px;}
	.news-news-post-title {font-size: 21px; line-height: 23px; top: 250px;}
	.news-news-post-blurb {font-size: 19px; line-height: 25px; margin-top: 40px;}
	#news-category-nav li {font-size: 17px;}
	/* === VOICES PAGE === */
	.voices-blogpost {width: 90%;}
}

@media only screen and (max-width: 1250px) {
	/* === HOME PAGE === */
	.featured-image-text {height: 75px;}
	.news-post {height: 440px;}
	/* === NEWS PAGE === */
	.news-news-post {width: 390px; height: 234px;}
	.news-news-post-blurb {font-size: 19px;}
	/* === ABOUT PAGE === */
	#about-section-wrapper {width: 45%;}
}

@media only screen and (max-width: 1230px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 380px; height: 228px;}
	.news-news-post-title {font-size: 21px; top: 240px;}
	.news-news-post-blurb {font-size: 19px; line-height: 25px; margin-top: 40px;}
	/* === VOICES PAGE === */
	#voices-recent-blogposts {width: 68%;}
}

@media only screen and (max-width: 1200px) {
	/* === HOME PAGE === */
	#featured {width: 55%; border: 0px;}
	#cat-news {width: 55%;}
	#cat-story {width: 34%;}
	#cat-voices {display: none;}
	.featured-image-text {height: 71px;}
	/* === NEWS PAGE === */
	#news-category-nav li {font-size: 16px;}
	.news-news-post {width: 360px; height: 216px;}
	.news-news-post-title {font-size: 19px; top: 235px;}
	.news-news-post-blurb {font-size: 18px; margin-top: 24px;}
	/* === STORYTELLING PAGE === */
	#storytelling {width: 34%; margin-right: 0px;}
	/* === VOICES PAGE === */
	#voices {display: none;}	
	/* === SINGLE PAGE === */
	.single-headline, .single-post-featured-image, .single-content {width: 65%;}
	.single-author-title {width: 450px;}
	/* === AUTHOR PAGE === */
	#author-page-wrapper {width: 58%;}
}

@media only screen and (max-width: 1175px) {
	/* === NEWS PAGE === */
	#news-category-nav li {font-size: 18px;}
	.news-news-post {width: 340px; height: 204px;}
	.news-news-post-title {font-size: 18px; top: 225px;}
	.news-news-post-blurb {font-size: 17px; line-height: 20px;}
	#news-sidebar {top: 305px;}
}

@media only screen and (max-width: 1150px) {
	/* === VOICES PAGE === */	
	.voices-blogpost {width: 85%;}
	/* === ABOUT PAGE === */
	#about-section-wrapper {width: 40%;}
	/* === SINGLE PAGE === */
	.single-headline, .single-post-featured-image, .single-content {width: 64%;}
	/* === AUTHOR PAGE === */
	#author-page-wrapper {width: 56%; margin-top: 40px;}	
	.author-profile {width: 59%; margin: 15px 0 20px 30px;}
	.author-stories-list {font-size: 17px;}
}

@media only screen and (max-width: 1130px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 330px; height: 198px;}
	.news-news-post-title {font-size: 18px; top: 220px;}
	.news-news-post-blurb {line-height: 20px;}
}

@media only screen and (max-width: 1100px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 320px; height: 192px;}
	.news-news-post-title {font-size: 18px; top: 215px;}
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 72%;}
	.single-post-featured-image, .featured-image-caption, .single-content {width: 64%;}
	.single-arrow {font-size: 50px;}
	.single-author-title {width: 400px;}
	/* === AUTHOR PAGE === */
	#author-page-wrapper {width: 56%; margin-left: 50px;}	
	.author-profile {width: 59%; margin: 15px 0 20px 30px;}
	.author-stories-list {font-size: 17px;}
	/* === BECOME A BLOGGER FORM === */
	#become-a-blogger-form, .blogger-form-headline {margin: 80px;}
}

@media only screen and (max-width: 1100px) and (min-width: 980px) {
	/* === SINGLE PAGE === */	
	.wp-caption {width: 100% !important;}
	.wp-caption img {width: 98%; height: auto;}
}

@media only screen and (max-width: 1080px) {
	/* === NEWS PAGE === */
	#news-category-nav li {font-size: 18px;}
	.news-news-post {width: 310px; height: 186px;}
	.news-news-post-title {font-size: 17px; top: 205px;}
	.news-news-post-blurb {font-size: 15px; line-height: 20px;}
	#news-sidebar {top: 307px;}
}

@media only screen and (max-width: 1060px) {
	/* === NEWS PAGE === */	
	.news-news-post {width: 300px; height: 180px;}
	.news-news-post-title {font-size: 17px; top: 200px;}
}

@media only screen and (max-width: 1050px) {
	/* === HEADER === */	
	.nav-item {font-size: 15px;}
	nav {height: 40px;}
	/* === HOME PAGE === */	
	.featured-image-text {height: 73px;}
	/* === VOICES PAGE === */	
	.voices-blogpost {width: 80%;}
	/* === ABOUT PAGE === */
	#about-section-wrapper {width: 35%;}
	/* === SINGLE PAGE === */
	.single-headline, .single-post-featured-image, .featured-image-caption, .single-byline, .single-content {width: 60%;}
	/* === AUTHOR PAGE === */
	#author-page-wrapper {width: 54%;}
	.author-profile {width: 57%;}
	.author-name {font-size: 30px;}
	.author-stories-date {font-size: 12px;}
}

@media only screen and (max-width: 1040px) {
	/* === NEWS PAGE === */	
	.news-news-post {width: 290px; height: 174px;}
	.news-news-post-title {font-size: 16px; top: 195px;}
	.news-news-post-blurb {line-height: 18px; margin-top: 22px;}
}

@media only screen and (max-width: 1030px) {
	/* === AUTHOR PAGE === */
	#author-page-wrapper {width: 90%;}
	.author-profile {width: 70%;}
	.author-name {font-size: 35px;}
	.author-stories-list {font-size: 19px;}
	.author-stories-date {font-size: 14px;}
	#author-voices-sidebar {display: none;}
}

@media only screen and (max-width: 1020px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 280px; height: 168px;}
	.news-news-post-title {font-size: 15px; top: 195px;}
}

@media only screen and (max-width: 1000px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 270px; height: 162px;}
	.news-news-post-title {font-size: 15px; top: 185px;}
	.news-news-post-blurb {font-size: 14px;}
}

@media only screen and (max-width: 980px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 530px; height: 318px;}
	.news-news-post-title {font-size: 24px; line-height: 25px; top: 325px;}
	.news-news-post-blurb {font-size: 21px; line-height: 28px; margin: 60px 60px 30px 60px;}
	/* === VOICES PAGE === */
	.voices-blogpost {width: 75%;}
	/* === ABOUT PAGE === */
	#about-section-title-wrapper {width: 300px;}
	.about-section-title {font-size: 20px; line-height: 25px;}
	#about-section-arrow {left: 320px;}
	#about-section-title-wrapper {margin-right: 30px;}
	#about-section-wrapper {width: 50%; margin: 0;}
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 80%; margin: 0 auto; margin-bottom: -30px; box-shadow: none;}
	.single-headline, .single-post-featured-image, .single-content, .featured-image-caption {width: 111%;} 
	#single-sidebar {display: none;}
	.single-author-title {width: 500px;}
	#comments-template {width: 90%;}
	.wp-caption, .wp-caption img {width: inherit;}
	.wp-caption img {width: 98.5%;}
}

@media only screen and (max-width: 950px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 510px; height: 306px;}
	.news-news-post-title {top: 315px;}
	/* === ABOUT PAGE === */
	#about-section-wrapper {width: 45%;}
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 80%;}
}

@media only screen and (max-width: 930px) {
	/* === HEADER === */		
	.social-media-icon:nth-child(1), .social-media-icon:nth-child(2) {display: none;}
	/* === HOME PAGE === */	
	.featured-image-text {height: 75px;}
	/* === NEWS PAGE === */
	.news-news-post {width: 490px; height: 294px;}
	.news-news-post-title {top: 300px;}
}

@media only screen and (max-width: 910px) {
	/* === HEADER === */	
	#tagline {display: none;}
	/* === HOME PAGE === */	
	#mobile-nav {display: block;}
	nav {display: none;}
	.category {display: none;}
	#featured {width: 94%; margin-top: 70px; margin-bottom: 0;}
	.featured-image-text {height: 63px;}
	#news-posts {display: none;}
	#mobile-featured {display: block;}
	.comments-count {display: none;}
	.voices-text {line-height: 25px;}
	/* === NEWS PAGE === */
	#news-title, #storytelling-title, #voices-title, #about-title, #author-title {margin-top: 60px;}
	.news-news-post {width: 470px; height: 282px;}
	.news-news-post-title {top: 290px;}
	.news-news-post-blurb {margin-top: 40px;}
	#news-sidebar {top: 257px;}
	/* === STORYTELLING PAGE === */	
	#storytelling {display: none;}
	/* === VOICES PAGE === */	
	.voices-blogpost {width: 70%;}
	#voices-sidebar {top: 170px;}
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 79%;}
	.single-headline, .single-post-featured-image, .single-content, .featured-image-caption {width: 112%;}
	/* === ABOUT PAGE === */
	#about-section-arrow {display: none;}
	#about-section-title-wrapper {margin-right: 0;}
	#about-section-wrapper {width: 50%;}
	/* === SEARCH RESULTS PAGE === */
	#search-results {margin-top: 80px;}
	/* === 404 PAGE === */
	#error-text {margin-top: 60px;}
}

@media only screen and (max-width: 900px) {
	/* === VOICES PAGE === */
	.voices-blogpost {width: 70%;}
	/* === AUTHOR PAGE === */
	#author-page-wrapper {width: 88%;}
	.author-image {margin-right: 30px;}
	.author-profile {width: 63%;}
}

@media only screen and (max-width: 890px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 450px; height: 270px;}
	.news-news-post-title {top: 280px;}
}

@media only screen and (max-width: 875px) {
	/* === ABOUT PAGE === */	
	#about-section-wrapper {width: 45%;}
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 78%; margin: 0 auto; margin-bottom: -30px; box-shadow: none;}
	.single-headline, .single-post-featured-image, .single-content, .featured-image-caption {width: 111%;}
}

@media only screen and (max-width: 860px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 430px; height: 258px;}
	.news-news-post-title {top: 265px;}
	.news-news-post-blurb {font-size: 20px; line-height: 24px; margin-top: 30px;}
}

@media only screen and (max-width: 850px) {
	/* === VOICES PAGE === */
	.voices-blogpost {width: 65%;}
	/* === MOBILE ONLY === */
	.mobile-category {font-size: 23px;}
	/* === AUTHOR PAGE === */
	.author-image {margin-right: 30px;}
	.author-profile {width: 60%;}
	.author-name {font-size: 30px;}
	.author-stories-list {font-size: 17px;}
	.author-stories-date {font-size: 12px;}
}

@media only screen and (max-width: 840px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 410px; height: 242px;}
	.news-news-post-title {top: 250px;}
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 77%;}
}

@media only screen and (max-width: 820px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 390px; height: 230px;}
	.news-news-post-title {font-size: 22px; top: 240px;}
	.news-news-post-blurb {font-size: 19px; line-height: 23px; margin: 30px;}
	/* === BECOME A BLOGGER FORM === */
	#become-a-blogger-form {margin: 80px; width: 75%;}
	.blogger-form-headline {margin: 80px;}
}

@media only screen and (max-width: 800px) {
	/* === HOME PAGE === */	
	.featured-image-text {height: 66px;}
	/* === VOICES PAGE === */
	#voices-title-line {margin-bottom: 0;}	
	#voices-recent-blogposts {width: 90%;}
	.voices-blogpost {width: 90%;}
	#voices-sidebar {display: none;}
	/* === NEWS PAGE === */
	#news-post-wrapper {width: 95%; margin: 0 auto; text-align: center;}
	.news-news-post {width: 350px; height: 210px; /*margin: 0 0 1% 1%;*/}
	.news-news-post-title {font-size: 20px; line-height: 21px; top: 225px;}
	.news-news-post-blurb {font-size: 16px; line-height: 22px; margin-top: 25px;}
	#news-sidebar {display: none;}
	/* === ABOUT PAGE === */
	#about-section-title-wrapper {width: 270px;}
	.about-section-title {font-size: 18px; padding: 20px;}
	#about-section-wrapper {width: 47%;}
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 76%;}
	.single-headline, .single-post-featured-image, .single-content, .featured-image-caption {width: 112%;}
	/* === TERMS OF USE PAGE === */
	#termsuse-page-content {margin: 80px;}
	/* === MOBILE ONLY === */
	#mobile-voices {width: 90%; margin-left: 60px; margin-right: 0;}
	#mobile-voices .voices-text {width: 70%;}
}

@media only screen and (max-width: 785px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 340px; height: 204px; float: none;}
	.news-news-post-title {font-size: 19px; line-height: 20px; top: 220px;}
	/* === FOOTER === */
	footer {height: 370px;}
	/* === MOBILE ONLY === */
	.mobile-category {font-size: 20px;}
	/* === AUTHOR PAGE === */
	.author-profile {width: 56%;}
	/* === BECOME A BLOGGER FORM === */
	#become-a-blogger-form {margin: 60px; width: 80%;}
	.blogger-form {margin: 60px;}
}

@media only screen and (max-width: 770px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 320px; height: 192px;}
	.news-news-post-title {font-size: 18px; top: 210px;}
	/* === ABOUT PAGE === */
	#about-section-title-wrapper {width: 260px;}
	.about-section-title {font-size: 18px; padding: 15px;}
	#about-section-wrapper {width: 47%;}
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 75%;}
}

@media only screen and (max-width: 760px) {
	/* === HEADER === */
	#nav-item {font-size: 17px;}
}

@media only screen and (max-width: 750px) {
	/* === AUTHOR PAGE === */
	#author-page-wrapper {width: 87%;}
	.author-image {margin-right: 15px;}
}

@media only screen and (max-width: 760px) {
	/* === HEADER === */
	#nav-item {font-size: 17px;}
}

@media only screen and (max-width: 750px) {
	/* === ABOUT PAGE === */
	#about-section-title-wrapper {width: 255px;}
	.about-section-title {font-size: 18px; padding: 12px;}
	#about-section-wrapper {width: 46%;}
}

@media only screen and (max-width: 740px) {
	/* === HEADER === */
	#nav-item {font-size: 16px; padding: 0 1px 0 1px;}
	.social-media-icon {display: none;}
	/* === SINGLE PAGE WRAPPER === */
	#single-page-wrapper {width: 74%;}
	/* === BECOME A BLOGGER FORM === */
	#become-a-blogger-form {margin: 50px; width: 82%;}
	.blogger-form {margin: 50px;}
}

@media only screen and (max-width: 730px) {
	/* === ABOUT PAGE === */
	#about-section-title-wrapper {width: 255px;}
	.about-section-title {font-size: 18px; padding: 12px;}
	#about-section-wrapper {width: 45.5%;}
}

@media only screen and (max-width: 725px) {
	/* === HEADER === */
	#tagline {display: none;}
	.search-icon {margin-right: 7px;}
	.search-field {margin-right: -27px; width: 30px;}
	.social-media-icon {margin-top: 5px;}
	/* === NEWS PAGE === */
	#news-title {margin-top: 50px;}
	.news-news-post {width: 300px; height: 180px;}
	.news-news-post-title {top: 200px; font-size: 17px; line-height: 18px;}
	.news-news-post-blurb {font-size: 15px; line-height: 20px; margin-top: 25px;}
	/* === VOICES PAGE === */
	#voices-title {margin-top: 50px;}
	/* === ABOUT PAGE === */
	#about-title {margin-top: 50px;}
	#about-section-title-wrapper {width: 92%;}
	.about-section-title {font-size: 25px; padding: 15px;}
	.about-section {display: block;}
	#about-section-wrapper {width: 83%;}
	/* === MOBILE ONLY === */
	#mobile-categories {margin-top: 60px; margin-bottom: -40px;}
}

@media only screen and (max-width: 700px) {
	/* === NEWS PAGE === */
	#news-category-nav li {font-size: 16px; height: 16px;}
	.news-news-post {width: 280px; height: 168px;}
	.news-news-post-title {top: 190px; font-size: 15px; line-height: 16px;}
	.news-news-post-blurb {font-size: 13px; line-height: 18px; margin-top: 22px;}
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 73%;}
	.single-author-title {width: 450px;}
	/* === AUTHOR PAGE === */
	#author-page-wrapper {width: 86%;}
	/* === BECOME A BLOGGER FORM === */
	#become-a-blogger-form {margin: 40px; width: 85%;}
	.blogger-form {margin: 40px;}
	/* === MOBILE ONLY === */	
	#mobile-voices .voices-text {width: 65%;}
}
@media only screen and (max-width: 680px) {
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 72%;}
	/* === AUTHOR PAGE === */
	.author-profile {width: 54%;}
	/* === MOBILE ONLY === */
	.mobile-category {font-size: 18px;}
}

@media only screen and (max-width: 660px) {
	/* === ABOUT PAGE === */
	#about-section-title-wrapper {width: 91%;}
	/* === AUTHOR PAGE === */
	.author-name {position: absolute; top: 200px; left: 125px; font-size: 35px;}
	.author-image {margin-top: 70px; margin-left: 50px;}
	.author-image img {width: 100%; height: auto;}
	.author-profile {width: 90%; margin-top: 20px;}
	.stories-by {font-size: 30px;}
	.author-stories-list {font-size: 15px;}
	.author-stories-date {font-size: 12px;}
}

@media only screen and (max-width: 640px) {
	/* === HEADER === */
	#social-media-icons {display: none;}
	/* === NEWS PAGE === */
	#news-menu-icon {display: inline-block;}
	#news-category-nav {display: none;}
	.news-news-post {width: 550px; height: 330px; margin: 0 auto; margin-bottom: 20px;}
	.news-news-post-title {top: 330px; font-size: 25px; line-height: 26px;}
	.news-news-post-blurb {font-size: 21px; line-height: 28px; margin: 60px;}
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 93.5%; margin: 0; padding: 60px 0 80px 40px;}
	.single-headline, .single-post-featured-image, .single-content, .featured-image-caption {width: 101.5%;}
	.single-content {width: 95%;}
	.single-arrow {display: none;}
	/* === MOBILE ONLY === */
	.mobile-category {font-size: 17px; padding: 12px;}
	#mobile-voices {width: 88%;}
}

@media only screen and (max-width: 620px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 530px; height: 318px;}
	.news-news-post-title {top: 320px; font-size: 25px;}
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 93%;}
	.single-headline, .single-post-featured-image, .single-content, .featured-image-caption {width: 101.5%;}
}

@media only screen and (max-width: 600px) {
	/* === HOME PAGE === */	
	#featured {width: 93%; margin: 60px 1.8% 0 1.8%;}
	.featured-image-text {height: 71px;}
	.news-post {width: 100%;}
	.news-post-text:hover {color: #1291B5;}
	.news-circle {display: none;}
	.news-blurb {height: auto;}
	#news-posts {display: none;}
	#mobile-featured {display: block;}
	/* === NEWS PAGE === */
	.news-news-post {width: 500px; height: 300px;}
	.news-news-post-title {top: 300px; font-size: 25px;}
	/* === ABOUT PAGE === */
	#about-section-title-wrapper {width: 90%;}
	#about-section-wrapper {width: 81%;}
	/* === AUTHOR PAGE === */
	#author-page-wrapper {width: 84%;}
	.author-profile p {width: 92%;}
	.author-stories-date {display: block; margin-top: 8px;}
	/* === BECOME A BLOGGER FORM === */
	#become-a-blogger-form {height: 1800px;}
	/* === MOBILE ONLY === */
	#mobile-categories {margin-bottom: -33px;}
	.mobile-category {font-size: 16px;}
	#mobile-voices .voices-text {font-size: 22px;}
	#mobile-voices .voices-byline {font-size: 16px;}
}

@media only screen and (max-width: 580px) {
	/* === NEWS PAGE === */
	#mobile-news-menu li {width: 30.8%;}
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 92.5%;}
	.single-headline, .single-post-featured-image, .single-content, .featured-image-caption {width: 100%;}
	/* === TERMS OF USE PAGE === */
	#termsuse-page-content {margin: 60px;}
	/* === MOBILE ONLY === */
	.mobile-category {width: 15%;}
}

@media only screen and (max-width: 560px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 480px; height: 288px;}
	.news-news-post-title {top: 290px; font-size: 25px;}
	/* === ABOUT PAGE === */
	#about-section-title-wrapper {width: 89%;}
	#about-section-wrapper {width: 80%;}
	/* === AUTHOR PAGE === */
	#author-title-profile {display: none;}
	#author-page-wrapper {width: 83%;}
	/* === SINGLE PAGE === */	
	.wp-caption {width: 100% !important;}
	.wp-caption img {width: 98%; height: auto;}
	/* === MOBILE ONLY === */
	#mobile-voices {margin-left: 40px; width: 90%;}
}	

@media only screen and (max-width: 540px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 460px; height: 276px;}
	.news-news-post-title {top: 280px; font-size: 25px;}
	.news-news-post-blurb {margin: 40px;}
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 92%;}
	.single-headline, .single-post-featured-image, .single-content, .featured-image-caption {width: 100%;}
	.single-author-title {width: 90%; font-size: 14px;}
}

@media only screen and (max-width: 520px) {
	/* === NEWS PAGE === */
	#mobile-news-menu li {width: 30.5%;}
	.news-news-post {width: 440px; height: 264px;}
	.news-news-post-title {top: 270px; font-size: 25px;}
	/* === ABOUT PAGE === */
	#about-section-wrapper {width: 78%;}
	/* === AUTHOR PAGE === */
	#author-page-wrapper {width: 82%;}
	.author-name {left: 110px;}
	.author-image {margin-left: 30px;} 
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 91.5%;}
	/* === MOBILE ONLY === */
	.mobile-category {width: 20%;}
	#mobile-voices .voices-text {font-size: 20px; margin-bottom: 5px;}
	#mobile-voices .voices-byline {font-size: 14px;}
	
}

@media only screen and (max-width: 500px) {
	/* === HOME PAGE === */
	.featured-image-text {color: #222; background: rgba(0,0,0,0); margin: 7px 0 0 -5px; text-shadow: none; font-weight: 600; height: auto;}
	.featured-image-text:hover {text-shadow: none; color: #1291B5;}
	.featured-text-byline {color: #B0B0B0; margin-left: 0;}
	.featured-text-byline a:hover {color: #666;}
	.featured-blurb {margin-top: 0;}
	/* === NEWS PAGE === */
	.news-news-post {width: 420px; height: 252px;}
	.news-news-post-title {top: 255px; font-size: 24px;}
	.wp-caption {width: 97% !important;}
    .single-content img {width: 97%; height: auto;}
	/* === VOICES PAGE === */
	.voices-blogpost {width: 85%;}
	.voices-blogpost-headline {font-size: 23px;}
	/* === ABOUT PAGE === */
	#about-section-title-wrapper {width: 88%;}
	/* === SINGLE PAGE === */
	.single-author-title {clear: both;}
	.single-byline {clear: both;}
	/* === FOOTER === */
	#footer-logos {width: 90%;}
}

@media only screen and (max-width: 480px) {
	/* === NEWS PAGE === */
	#mobile-news-menu li {width: 47%;}
	.news-news-post {width: 400px; height: 240px;}
	.news-news-post-title {top: 250px; font-size: 22px; line-height: 23px;}
	.news-news-post-blurb {font-size: 18px; line-height: 22px; margin: 30px;}
	/* === ABOUT PAGE === */
	#about-section-wrapper {width: 77%;}
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 91%;}
	.single-headline, .single-post-featured-image, .single-content, .featured-image-caption {width: 98%;}
	/* === AUTHOR PAGE === */
	#author-page-wrapper {width: 81%;}
}

@media only screen and (max-width: 460px) {
	/* === AUTHOR PAGE === */
	#author-page-wrapper {width: 87%; margin-left: 30px;}
	.author-name {left: 87px;}
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 90.5%;}
	.single-headline, .single-post-featured-image, .single-content, .featured-image-caption {width: 98%;}
}

@media only screen and (max-width: 450px) {
	/* === HOME PAGE === */
	.featured-image-text {font-size: 22px;}
	.news-post-text {font-size: 22px;}
	.voices-text {line-height: 20px;}
	/* === NEWS PAGE === */
	#mobile-news-menu li {width: 46.5%;}
	.news-news-post {width: 380px; height: 228px;}
	.news-news-post-title {top: 240px; font-size: 22px;}
	/* === VOICES PAGE === */
	#voices-recent-blogposts {margin-top: 0;}
	.voices-blogpost-headline {font-size: 21px;}
	.voices-blogpost-headline:first-child {margin-top: 10px;}
	/* === ABOUT PAGE === */
	#about-section-title-wrapper {width: 87%;}
	#about-section-wrapper {padding: 40px;}
	/* === TERMS OF USE PAGE === */
	#termsuse-page-content {margin: 60px 40px 40px 40px;}
	/* === MOBILE ONLY === */
	#mobile-voices img {width: 25%;}
	#mobile-voices .voices-text {width: 55%; font-size: 18px;}
	#mobile-voices .voices-byline {font-size: 13px;}
}

@media only screen and (max-width: 430px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 360px; height: 216px;}
	.news-news-post-title {top: 235px; font-size: 19px; line-height: 20px;}
	.news-news-post-blurb {font-size: 17px; line-height: 20px;}
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 90%;}
}

@media only screen and (max-width: 410px) {
	/* === NEWS PAGE === */
	.news-news-post {width: 340px; height: 204px;}
	.news-news-post-title {top: 220px; font-size: 19px;}
	.news-news-post-blurb {font-size: 17px; line-height: 20px; margin-top: 22px;}
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 89.5%;}
	/* === BECOME A BLOGGER FORM === */
	#become-a-blogger-form {margin: 50px 40px 40px 40px;}
	.blogger-form {margin: 50px 40px 40px 40px;}
	/* === MOBILE ONLY === */	
	#mobile-voices .voices-text {width: 65%; font-size: 18px; margin-right: 0;}
}

@media only screen and (max-width: 400px) {
	/* === HEADER === */
	.mobile-nav-item {font-size: 14px;}
	/* === HOME PAGE === */
	.news-post {height: auto;}
	.voices-text {font-size: 16px; line-height: 17px;}
	/* === NEWS PAGE === */
	.news-menu-icon {margin-bottom: 0;}
	.news-menu-icon {width: 25px; height: 25px;}
	#mobile-news-menu {top: 100px;}
	#mobile-news-menu li {width: 46%;}	
	#news-title {font-size: 40px;}
	.news-news-post {width: 320px; height: 188px;}
	.news-news-post-title {top: 208px; font-size: 18px; line-height: 19px;}
	.news-news-post-blurb {font-size: 15px; line-height: 18px;}
	/* === VOICES PAGE === */
	#voices-title {width: 310px; font-size: 40px;}
	.voices-blogpost {width: 98%; margin-left: 20px;}
	.voices-blogpost-headline {font-size: 21px;}
	.voices-blogpost-headline:first-child {margin-top: 10px;}
	.voices-byline {clear: both;}
	/* === ABOUT PAGE === */
	#about-section-title-wrapper {width: 86%; margin-top: 0;}
	.about-section-title {font-size: 18px; padding: 10px;}
	.about-contact-option {font-size: 15px;}
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 93%; padding-left: 25px;}
	.single-headline, .single-post-featured-image, .single-content, .featured-image-caption {width: 102%;}
	.single-headline {font-size: 23px; line-height: 25px;}
	.single-post-featured-image {margin-top: 10px;}
	.related-items-box {width: 100%;}
	.single-next-slide {width: 280px; height: 100px; top: 70%;}
	.single-next-slide-close {line-height: 18px;}
	#comments-template {width: 95%;}
	/* === ABOUT PAGE === */
	#about-section-wrapper {width: 76%;}
	#about-title {width: 300px; font-size: 40px;}
	#about-about-ajr {font-size: 15px;}
	/* === AUTHOR PAGE === */
	#author-title {font-size: 40px;}
	#author-page-wrapper {width: 88%; margin-left: 25px;}
	.author-name {left: 60px;}
	.author-image {margin-left: 10px;}
	.author-profile {width: 98%; margin-left: 10px;}
	/* === FOOTER === */	
	footer {height: 420px;}
	#footer-links {width: 55%; text-align: center;}	
	.footer-link {margin-right: 10px;}
	/* === MOBILE ONLY === */
	#mobile-categories {margin-top: 52px; margin-bottom: -41px;}
	.mobile-category {width: 23%;}
	#mobile-voices {margin-left: 20px; margin-right: 0;}
	#mobile-voices img {width: 25%;}
	#mobile-voices .voices-text {width: 65%; font-size: 18px; margin-right: 0;}
	#mobile-voices .voices-byline {margin-left: 0;}
}

@media only screen and (max-width: 380px) {
	/* === HEADER === */
	.mobile-nav-item {font-size: 12px; padding-top: 13px;}
	/* === HOME PAGE === */
	#featured {width: 93.5%; margin: 55px 1.8% 0 1.8%;}
	#mobile-voices {margin-top: 40px;}
	.news-post {margin-top: -5px;}
	/* === NEWS PAGE === */
	#mobile-news-menu li {width: 45.5%;}
	#news-post-wrapper {width: 98%; margin-left: 3px;}
	.news-post-wrapper {margin-left: 0;}
	.news-news-post {width: 280px; height: 165px;}
	.news-news-post-title {height: 300px; top: 190px; font-size: 16px; line-height: 17px;}
	.news-news-post-blurb {font-size: 13px; line-height: 15px;}
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 92.5%;}
	.single-headline, .single-post-featured-image, .single-content, .featured-image-caption {width: 100%;}
	/* === ABOUT PAGE === */
	#about-section-title-wrapper {width: 87%; margin-left: 20px;}
	/* === AUTHOR PAGE === */
	#author-page-wrapper {width: 85%;}
	.author-name {top: 180px; left: 40px; font-size: 32px;}
	.author-image {margin-left: 10px;}
	/* === TERMS OF USE PAGE === */
	#termsuse-page-content {margin: 60px 30px 30px 30px;}
	/* === BECOME A BLOGGER FORM === */
	#become-a-blogger-form {margin: 60px 30px 30px 30px;}
	.blogger-form {margin: 60px 30px 30px 30px;}
}

@media only screen and (max-width: 350px) {
	/* === SINGLE PAGE === */
	#single-page-wrapper {width: 92%;}
}

/* ===== iPHONE LANDSCAPE ===== */
@media only screen and (max-height: 350px) {
	#mobile-menu-search, #mobile-header-searchform, #mobile-social-media-icons {display: none;}
}

/* ===== SMARTPHONES IN LANDSCAPE ===== */

@media only screen and (min-width: 321px) 
and (max-height: 350px) {
	.single-next-slide {top: 60%;}
}


/* ===== iPADS PORTRAIT AND LANDSCAPE ===== */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

/* ===== iPAD LANDSCAPE ===== */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation: landscape) {
	/* === HOME PAGE === */	
	.featured-image-text {height: 75px;}
	#home-page-voices-ad {display: none;}
	/* === NEWS PAGE === */	
	.news-news-post {width: 295px; height: 177px;}
	.news-news-post-title {font-size: 16px; top: 195px;}
	/* === SINGLE PAGE === */	
	.single-content {width: 67%;}
	#single-page-wrapper {width: 70%;}
}

