p {
	font-family: 'Helvetica Neue';
	font-size: 14px;
	color: #444;
	line-height: 18px;
}
.single-db-container {
	width: 1150px;
	min-height: 700px;
	margin: 0 auto;
	font-family: 'HelveticaNeue-CondensedBold';
	-webkit-font-smoothing: antialiased;
}
.single-db-image-container {
	width: 550px;
	height: 400px;
	margin: 35px 35px 35px 0;
	float: left;
	position: relative;
	z-index: 1;
}
.single-db-image {
	width: 100%;
	height: auto;
	border-right: solid 5px #31AED2;
}
.single-db-category-type {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 30px;
	text-align: center;
	background: #31AED2;
	color: #FFFFFF;
	font-family: 'HelveticaNeue-CondensedBold';
	font-size: 19px;
	text-transform: uppercase;
	z-index: 2;
}
.single-db-category {
	position: absolute;
	top: 39px;
	right: 0;
	padding: 10px 30px;
	text-align: center;
	background: #333333;
	color: #FFFFFF;
	font-family: 'HelveticaNeue-CondensedBold';
	font-size: 19px;
	text-transform: uppercase;
	z-index: 2;
}
.single-db-ratings {
	width: 555px;
	height: 41px;
	margin-top: -3px;
	border-top: solid 3px #000;
}
.single-db-ratings-box {
	width: 130px;
	height: 41px;
	background: #000;
	color: #FFFFFF;
	font-style: italic;
	text-align: center;
	line-height: 41px;
	float: left;
}
.single-db-star-ratings {
	width: 425px;
	height: 41px;
	background: #DCDCDC;
	float: left;
}
.single-db-info-container {
	width: 47.5%;
	height: auto;
	margin: 35px 0 30px 15px;
	float: left;
	font-family: 'Helvetica Neue';

}
.single-db-title {
	width: 530px;
	color: #000;
	font-family: 'HelveticaNeue-CondensedBold';
	font-size: 33px;
	font-weight: 600;
	line-height: 100%;
	margin: 0 0 15px 0;
	float: left;
	clear: right;
}
.single-db-date {
	width: 100%;
	float: left;
	margin: 0 0 20px 0;
	padding: 0 0 15px 0;
	border-bottom: solid 2px #404040;
	color: #909090;
	font-style: italic;
}
.single-db-excerpt {
	float: left;
}
.single-db-source {
	width: 100%;
	float: left;
	text-align: center;
	color: #31AED2;
	font-family: 'HelveticaNeue-CondensedBold';
	font-size: 25px;
}
.single-db-related-links-clear {
	width: 100%;
	height: 24px;
	border-bottom: solid 1px #DCDCDC;
	clear: both;
}
.single-db-related-links {
	width: 100%;
	height: 200px;
	margin-top: 20px;
}
.single-db-related-items {
	width: 100%;
	height: 300px;
	border-top: solid 3px #31AED2;
	margin: 0 0 -100px 0;
}
.single-db-recent-stories-category {
	width: 100%;
	background: #DCDCDC;
	padding: 5px 0 5px 80px;
	font-family: 'HelveticaNeue-CondensedBold';
	font-size: 20px;
	color: #737373;
	-webkit-font-smoothing: antialiased;
}
.single-db-recent-stories {
	width: 100%;
	height: 200px;
	background: #404040;
}













































